doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet' href='/dist/css/styles.css')

  body
    section(id='#{page}')
      div
        h1(data-tm='#{trademark}') #{title}
        form(method='post' action='/room')
          p
            input(id='inputbox' name='name' placeholder='#{placeholder}' autofocus)
            input(type='hidden' name='cash' value='10000')
            button #{action}

    script(src='/dist/js/index.js')