doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet' href='/dist/styles/texas.min.css')

  body
    section#home
      div
        h1(data-tm='#{trademark}') #{title}
        form(method='post' action='/')
          p
            input(name='name' placeholder='#{home.placeholder}' autocomplete='off' autofocus)
            button #{home.ok}

    section#room
      div
        h1 #{nametip}
          span.name
        h1 #{cashtip}
          span.cash
        button.join #{room.join}
        button.exit #{room.exit}

    section#game
      div
        h1 #{nametip}
          span.name
        h1 #{cashtip}
          span.cash
        button.start #{game.start}
        button.exit #{game.exit}

    script(src='/socket.io/socket.io.js')
    script(src='/dist/scripts/texas.min.js')
